/***************************** IMPORTS *****************************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
.word, .description li:first-child div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preloader, body {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 999;
}

.preloader.hide {
  opacity: 0;
  visibility: hidden;
}

.preloader span {
  width: 5rem;
  height: 5rem;
  border: 0.5rem solid #126C87;
  border-right-color: #f6f6f6;
  border-radius: 50%;
  background-color: inherit;
  -webkit-animation: loading 0.5s linear 0s infinite;
          animation: loading 0.5s linear 0s infinite;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.search-form {
  position: relative;
  margin: 2rem 0;
}

.search-form input {
  width: 100%;
  height: 2.5rem;
  padding: 0 2rem;
  border: 1px solid #c8c5c5;
  border-radius: 0.5rem;
  color: #2e2b2b;
  font-size: 1rem;
}

.search-form input::-webkit-input-placeholder {
  color: #c8c5c5;
}

.search-form input:-ms-input-placeholder {
  color: #c8c5c5;
}

.search-form input::-ms-input-placeholder {
  color: #c8c5c5;
}

.search-form input::placeholder {
  color: #c8c5c5;
}

.search-form input:focus {
  outline: none;
  padding: 0 calc(2rem - 1px);
  border: 2px solid #126C87;
}

.search-form input:focus ~ .submit-btn {
  color: #126C87;
}

.search-form input:valid ~ .clear-btn {
  display: block;
}

.search-form .submit-btn {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  right: unset;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #c8c5c5;
}

.search-form .clear-btn {
  position: absolute;
  top: 50%;
  left: unset;
  right: 0.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
  color: #e0360b;
}

@media screen and (max-width: 350px) {
  .search-form input {
    height: 2.2rem;
    font-size: 0.9rem;
  }
}

.message span {
  color: #e0360b;
}

.message.hide {
  display: none;
}

.message.hide ~ .search-result {
  display: block;
}

.search-result {
  display: none;
}

.search-result span, .search-result p {
  color: #807e7e;
}

.word {
  margin-bottom: 2rem;
}

.description li {
  padding: 1rem 0;
  border-bottom: 1px solid #c8c5c5;
}

.description li h4 {
  margin-bottom: 1rem;
}

.description li:first-child {
  border-top: 1px solid #c8c5c5;
}

.description li:first-child button {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.description li:first-child button:hover {
  color: #126C87;
}

.description li:last-child button {
  border: 1px solid #e0360b;
}

.description li:last-child button:hover {
  background-color: #e0360b;
  color: #FFFFFF;
}

.change-view-btn {
  position: absolute;
  top: 0.4rem;
  left: unset;
  right: 0.5rem;
  -webkit-transform: unset;
          transform: unset;
  color: #f74d22;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.change-view-btn:hover {
  color: #e0360b;
}

body.active {
  place-items: unset;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f6f6f6;
}

body.active .dictionary {
  max-width: 600px;
  max-height: unset;
  width: 100vw;
  border-radius: unset;
  overflow-y: unset;
}

/***************************** GLOBAL STYLES *****************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

*::-moz-selection {
  background-color: #126C87;
  color: #FFFFFF;
}

*::selection {
  background-color: #126C87;
  color: #FFFFFF;
}

body {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#2da5c9), to(#126C87));
  background: linear-gradient(#2da5c9, #126C87);
  color: #2e2b2b;
}

h1, h2, h3, h4 {
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

h1 {
  text-align: center;
  font-size: 1.8rem;
}

h4 {
  font-size: 1rem;
}

p {
  line-height: 1.5;
}

li {
  list-style-type: none;
}

button {
  color: #2e2b2b;
  line-height: 1;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  body {
    font-size: 0.95rem;
  }
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 350px) {
  body {
    font-size: 0.9rem;
  }
  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.2rem;
  }
}

/***************************** LOCAL STYLES *****************************/
.dictionary {
  position: relative;
  max-width: 450px;
  max-height: 95vh;
  width: 90vw;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  overflow-y: auto;
  background-color: #f6f6f6;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.btn-container button {
  padding: 0.25rem 0.2rem;
  border-radius: 0.2rem;
  background-color: inherit;
  font-size: 0.9rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border: 1px solid #126C87;
}

.btn-container button:hover {
  background-color: #126C87;
  color: #FFFFFF;
}

.icon {
  border: none;
  background-color: inherit;
  font-size: 1.2rem;
}
