.change-view-btn {
    @include absolute-position(0.4rem, unset, 0.5rem, unset);
    color: $red-2;
    transition: $transition;
    &:hover {
        color: $red;
    }
}

body.active {
    place-items: unset;
    justify-content: center;
    background: $primary-3;
    .dictionary {
        max-width: 600px;
        max-height: unset;
        width: 100vw;
        border-radius: unset;
        overflow-y: unset;
    }
}