$primary-1: #2da5c9;
$primary-2: #126C87;
$primary-3: #f6f6f6;
$black: #2e2b2b;
$white: #FFFFFF;
$grey: rgb(200, 197, 197);
$grey-2: rgb(128, 126, 126);
$red: rgb(224, 54, 11);
$red-2: #f74d22;
$radius: 0.5rem;
$radius-2: 0.2rem;
$space: 0.1rem;
$transition: all 0.4s ease;

@mixin absolute-position ($top, $left, $right, $translate) {
    position: absolute;
    top: $top;
    left: $left;
    right: $right;
    transform: $translate;
}

@mixin btn-color ($color) {
    border: 1px solid $color;
    &:hover {
        background-color: $color;
        color: $white;
    }
}

%flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%grid-center {
    display: grid;
    place-items: center;
}