$primary-1: #178caf;
$primary-2: #126C87;
$primary-3: #f6f6f6;
$black: #2e2b2b;
$white: #FFFFFF;
$grey: rgb(200, 197, 197);
$grey-2: rgb(128, 126, 126);
$red: rgb(224, 54, 11);
$radius: 0.5rem;
$radius-2: 0.2rem;
$space: 0.1rem;
$transition: all 0.4s ease;

@mixin align-position ($left, $right) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: $left;
    right: $right;
    @extend %icon-btn;
}

@mixin btn-color ($color) {
    border: 1px solid $color;
    &:hover {
        background-color: $color;
        color: $white;
    }
    @extend %btn;
}

%btn {
    padding: 0.25rem 0.2rem;
    border-radius: $radius-2;
    background-color: inherit;
    font-size: 0.9rem;
    transition: $transition;
}

%icon-btn {
    border: none;
    background-color: inherit;
    font-size: 1.2rem;
}

%flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}