.message {
    span {
        color: $red;
    }
    &.hide {
        display: none;
    }
    &.hide ~ .search-result {
        display: block;
    }
}

.search-result {
    display: none;
    span, p {
        color: $grey-2;
    }
}

.word {
    @extend %flex-between;
    margin-bottom: 2rem;
}

.description {
    li {
        padding: 1rem 0;
        border-bottom: 1px solid $grey;
        h4 {
            margin-bottom: 1rem;
        }
        .btn-container {
            display: flex;
            flex-flow: row wrap;
            column-gap: 0.5rem;
            row-gap: 0.5rem;
            button {
                @include btn-color($primary-2);
            }
        }
    }
    li:first-child {
        border-top: 1px solid $grey;
        div {
            @extend %flex-between;
        }
        button {
            @extend %icon-btn;
            transition: $transition;
            &:hover {
                color: $primary-2;
            }
        }
    }
    li:last-child {
        button {
            @include btn-color($red);
        }
    }
}

@media screen and (max-width: 540px) {
    .search-result {
        max-height: 30rem;
        overflow-y: auto;
    }    
}

@media screen and (max-width: 400px) {
    .search-result {
        max-height: 25rem;
    }    
}

@media screen and (max-width: 350px) {
    .search-result {
        max-height: 20rem;
    }    
}