.search-form {
    position: relative;
    margin: 2rem 0;
    input {
        width: 100%;
        height: 2.5rem;
        padding: 0 2rem;
        border: 1px solid $grey;
        border-radius: $radius;
        color: $black;
        font-size: 1rem;
        &::placeholder {
            color: $grey;
        }
        &:focus {
            outline: none;
            padding: 0 calc(2rem - 1px);
            border: 2px solid $primary-2;
        }
        &:focus ~ .submit-btn {
            color: $primary-2;
        }
        &:valid ~ .clear-btn {
            display: block;
        }
    }
    .submit-btn {
        @include absolute-position(50%, 0.5rem, unset, translateY(-50%));
        color: $grey;
    }
    .clear-btn {
        @include absolute-position(50%, unset, 0.5rem, translateY(-50%));
        display: none;
        color: $red;
    }
}

@media screen and (max-width: 350px) {
    .search-form {
        input {
            height: 2.2rem;
            font-size: 0.9rem;
        }
    }
}