/***************************** IMPORTS *****************************/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import 'config';
@import 'preloader';
@import 'search-form';
@import 'search-result';
@import 'change-view';

/***************************** GLOBAL STYLES *****************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    &::selection {
        background-color: $primary-2;
        color: $white;
    }
}
body {
    min-height: 100vh;
    @extend %grid-center;
    background: linear-gradient($primary-1, $primary-2);
    color: $black;
}
h1,h2,h3,h4 {
    line-height: 1;
    text-transform: capitalize;
    letter-spacing: $space;
}
h1 {
    text-align: center;
    font-size: 1.8rem;
}
h4 {
    font-size: 1rem;
}
p {
    line-height: 1.5;
}
li {
    list-style-type: none;
}
button {
    color: $black;
    line-height: 1;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    body {
        font-size: 0.95rem;
    }
    h1 {
        font-size: 1.6rem;
    }
    h2 {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 350px) {
   body {
        font-size: 0.9rem;
    }
    h1 {
        font-size: 1.4rem;
    }
    h2 {
        font-size: 1.2rem;
    }
}

/***************************** LOCAL STYLES *****************************/

.dictionary {
    position: relative;
    max-width: 450px;
    max-height: 95vh;
    width: 90vw;
    padding: 2rem 1rem;
    border-radius: $radius;
    overflow-y: auto;
    background-color: $primary-3;
}

.btn-container {
    display: flex;
    flex-flow: row wrap;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    button {
        padding: 0.25rem 0.2rem;
        border-radius: $radius-2;
        background-color: inherit;
        font-size: 0.9rem;
        transition: $transition;
        @include btn-color($primary-2);
    }
}

.icon {
    border: none;
    background-color: inherit;
    font-size: 1.2rem;
}